[Desktop Entry]
Name=Kingdom: Classic
Comment=Play this game on Steam
Exec=steam steam://rungameid/368230
Icon=steam_icon_368230
Terminal=false
Type=Application
Categories=Game;
